n8n/workflows/wf1-intake.json
{
  "name": "WF-1 Intake and Validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE-HOOK-ID/lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "POST /lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "wf1-lead-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Gatekeeper: honeypot -> token -> validation -> dedupe -> canonical payload (form v2, 2026-07-16).\n// Every rejection returns bot:true; the respond node sends the SAME success body either way (no oracle).\n// Validation rules mirror widget/src/validate.js verbatim.\n// Requires NODE_FUNCTION_ALLOW_BUILTIN=crypto,fs.\nconst crypto = require('crypto');\nconst fs = require('fs');\nconst METRICS = '/home/node/.n8n/wgc-metrics.json';\nconst body = $json.body || {};\nconst headers = $json.headers || {};\n\nfunction bump(field) {\n  let m = { days: {} };\n  try { m = JSON.parse(fs.readFileSync(METRICS, 'utf8')); } catch (e) { /* first run */ }\n  const day = new Date().toISOString().slice(0, 10);\n  m.days[day] = m.days[day] || { submissions: 0, bots: 0, delivered_api: 0, delivered_email: 0 };\n  m.days[day][field] += 1;\n  fs.writeFileSync(METRICS, JSON.stringify(m));\n}\nfunction reject(reason) { bump('bots'); return [{ json: { bot: true, reason } }]; }\n\n// 1. Honeypot: field named fax must be empty (renamed from company: browser autofill filled it for real users, prod finding 2026-07-19).\nif (typeof body.fax === 'string' && body.fax.trim() !== '') return reject('honeypot');\n\n// 2. Render token: base64(ts.nonce.hmac), age window 2s-2h (unchanged min-fill-time).\nlet tokenOk = false;\ntry {\n  const parts = Buffer.from(String(body.token || ''), 'base64').toString('utf8').split('.');\n  const ts = parts[0], nonce = parts[1], mac = parts[2] || '';\n  const expect = crypto.createHmac('sha256', $env.WGC_HMAC_SECRET).update(ts + '.' + nonce).digest('hex');\n  const macBuf = Buffer.from(mac, 'utf8');\n  const expBuf = Buffer.from(expect, 'utf8');\n  const age = Date.now() - Number(ts);\n  tokenOk = macBuf.length === expBuf.length && crypto.timingSafeEqual(macBuf, expBuf) && age >= 2000 && age <= 7200000;\n} catch (e) { tokenOk = false; }\nif (!tokenOk) return reject('token');\n\n// 3. Validation + normalization (mirror of widget rules, v2).\nconst errors = [];\nfunction str(v) { return String(v == null ? '' : v).trim(); }\nconst name = str(body.name);\nif (name.length < 1 || name.length > 120) errors.push('name');\nconst email = str(body.email);\nif (email.length > 254 || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/.test(email)) errors.push('email');\nconst rawPhone = str(body.phone);\nconst digits = rawPhone.replace(/\\D/g, '');\nlet phone = null;\nif (rawPhone.startsWith('+') && !rawPhone.startsWith('+1')) phone = null;\nelse if (rawPhone.startsWith('+')) phone = digits.length === 11 ? '+' + digits : null;\nelse if (digits.length === 10) phone = '+1' + digits;\nelse if (digits.length === 11 && digits[0] === '1') phone = '+' + digits;\nif (!phone) errors.push('phone');\nconst zip = str(body.zip);\nif (!/^\\d{5}$/.test(zip)) errors.push('zip');\nlet sqft = null;\nconst sqftStr = str(body.sqft);\nconst sqftNum = Number(sqftStr);\nif (sqftStr === '' || !Number.isInteger(sqftNum) || sqftNum < 300 || sqftNum > 10000) errors.push('sqft');\nelse sqft = sqftNum;\nlet bedrooms = null;\nconst bedroomsStr = str(body.bedrooms);\nif (bedroomsStr !== '') {\n  if (['2', '3', '4', '5+'].indexOf(bedroomsStr) === -1) errors.push('bedrooms');\n  else bedrooms = bedroomsStr;\n}\nconst ebook_opt_in = body.ebook_opt_in === true;\nconst submission_id = str(body.submission_id);\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{3,4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(submission_id)) errors.push('submission_id');\nif (errors.length) return reject('validation:' + errors.join('|'));\n\n// 4. Dedupe: 24h ring buffer in workflow static data (unchanged).\nconst sd = $getWorkflowStaticData('global');\nconst now = Date.now();\nsd.seen = (sd.seen || []).filter(function (e) { return now - e.t < 86400000; });\nif (sd.seen.some(function (e) { return e.id === submission_id; })) return reject('duplicate');\nsd.seen.push({ id: submission_id, t: now });\n\n// 5. Canonical payload v2 + server-side consent evidence (ip, ua added here).\nconst ip = str(headers['x-forwarded-for']).split(',')[0].trim();\nconst c = body.consent || {};\nconst payload = {\n  submission_id: submission_id,\n  name: name,\n  email: email,\n  phone: phone,\n  zip: zip,\n  sqft: sqft,\n  bedrooms: bedrooms,\n  ebook_opt_in: ebook_opt_in,\n  source: str(body.source) || 'Website - wgcassetguide',\n  consent: {\n    implied: true,\n    text_version: str(c.text_version) || 'v2-2026-07-16',\n    ts: str(c.ts) || new Date().toISOString(),\n    ip: ip,\n    ua: str(headers['user-agent']).slice(0, 400)\n  }\n};\nbump('submissions');\nreturn [{ json: { bot: false, payload: payload } }];"
      },
      "id": "wf1-gate",
      "name": "Verify, validate, dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf1-if",
      "name": "Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "SET-AFTER-IMPORT-WF2-ID",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "wf1-exec",
      "name": "Dispatch WF-2 (async)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        660,
        120
      ],
      "notes": "Async so retries in WF-2 (up to ~40s) never exceed the widget's 10s timeout gate. Delivery guarantee is WF-2's three paths + WF-3 alerting."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "wf1-respond-bot",
      "name": "Respond success (silent reject)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -120
      ],
      "notes": "Identical body to the accept path: no oracle for attackers (G-3)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.estimate ? { ok: true, estimate: $json.estimate } : { ok: true } }}",
        "options": {}
      },
      "id": "wf1-respond-ok",
      "name": "Respond success (accepted)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// >>> GENERATED FROM estimator/src/estimate.js — do not edit here\n// Own-data rent estimator — Layer 1 (PRD-03 / T-estimator).\r\n//\r\n// Northpoint's real playbook (FEATURE2-rent-estimator-strategy.md §0): estimate\r\n// a rent RANGE by SEGMENT from Westrom's OWN closed/active lease outcomes, not\r\n// by address AVM. This module is that Layer-1 primary layer: pure, zero runtime\r\n// deps (TD-4), DOM-free and node --test-friendly like validate.js/success.js.\r\n//\r\n// It is provider-agnostic by shape: `estimateRent(query, leases)` takes an\r\n// array of already-normalized leases (dependency-injected) and returns the\r\n// exact `{ low, high, comps }` object that widget/src/success.js renders. Parcl\r\n// (Layer 2) and a cached AVM (Layer 3) sit behind the same return shape later.\r\n//\r\n// Scope note: the DEPLOYED form v2 collects zip + sqft (required) + bedrooms\r\n// (optional 2/3/4/5+) — NOT property type or baths. So the live query segment\r\n// is { zip, sqft, beds? }. The CSV's type/baths are carried for future segment\r\n// dimensions but are not required to produce an estimate today.\r\n//\r\n// GATE: nothing here wires a public response. Surfacing an on-screen estimate\r\n// reverses locked decision LD-6 and needs OD-14 (Jon) signed → PRD-03. This\r\n// file computes; it does not ship.\r\n\r\n// --- CSV parsing (handles quoted fields with commas / $: \"$1,895.00\", \"1,026\") ---\r\n\r\n/**\r\n * Minimal RFC-4180-ish CSV parser: quoted fields, embedded commas, doubled\r\n * quotes, CRLF/LF. Returns an array of row objects keyed by the header row.\r\n * Zero deps on purpose (TD-4).\r\n */\r\nfunction parseCsv(text) {\r\n  const rows = [];\r\n  let field = '';\r\n  let record = [];\r\n  let inQuotes = false;\r\n  const src = String(text == null ? '' : text);\r\n\r\n  for (let i = 0; i < src.length; i++) {\r\n    const c = src[i];\r\n    if (inQuotes) {\r\n      if (c === '\"') {\r\n        if (src[i + 1] === '\"') { field += '\"'; i++; } // escaped quote\r\n        else inQuotes = false;\r\n      } else {\r\n        field += c;\r\n      }\r\n    } else if (c === '\"') {\r\n      inQuotes = true;\r\n    } else if (c === ',') {\r\n      record.push(field); field = '';\r\n    } else if (c === '\\n' || c === '\\r') {\r\n      if (c === '\\r' && src[i + 1] === '\\n') i++; // swallow CRLF pair\r\n      record.push(field); field = '';\r\n      if (record.length > 1 || record[0] !== '') rows.push(record);\r\n      record = [];\r\n    } else {\r\n      field += c;\r\n    }\r\n  }\r\n  if (field !== '' || record.length) { record.push(field); rows.push(record); }\r\n\r\n  if (!rows.length) return [];\r\n  const header = rows[0].map((h) => h.trim());\r\n  return rows.slice(1).map((r) => {\r\n    const obj = {};\r\n    header.forEach((h, idx) => { obj[h] = r[idx] == null ? '' : r[idx]; });\r\n    return obj;\r\n  });\r\n}\r\n\r\n// --- Field coercion ---\r\n\r\nfunction parseMoney(s) {\r\n  const n = Number(String(s == null ? '' : s).replace(/[^0-9.]/g, ''));\r\n  return Number.isFinite(n) && n > 0 ? n : null;\r\n}\r\n\r\nfunction parseIntLoose(s) {\r\n  const cleaned = String(s == null ? '' : s).replace(/[^0-9.]/g, '');\r\n  if (cleaned === '') return null; // empty means \"unknown\", not 0\r\n  const n = Number(cleaned);\r\n  return Number.isFinite(n) ? Math.round(n) : null;\r\n}\r\n\r\nfunction zip5(s) {\r\n  const m = String(s == null ? '' : s).match(/\\d{5}/);\r\n  return m ? m[0] : null;\r\n}\r\n\r\n// Opaque, stable id for a physical unit, derived from its address so we can\r\n// collapse repeat leases of the SAME home (the export is a lease history:\r\n// 757 rows / 549 units). FNV-1a hash, never displayed — the address itself\r\n// stays out of the index (PII rule). Null when there is no address to key on.\r\nfunction unitId(address) {\r\n  const s = String(address == null ? '' : address).trim().toLowerCase().replace(/\\s+/g, ' ');\r\n  if (!s) return null;\r\n  let h = 0x811c9dc5;\r\n  for (let i = 0; i < s.length; i++) { h ^= s.charCodeAt(i); h = Math.imul(h, 0x01000193); }\r\n  return (h >>> 0).toString(36);\r\n}\r\n\r\n// MM/DD/YYYY -> Date (UTC midnight) or null.\r\nfunction parseUsDate(s) {\r\n  const m = String(s == null ? '' : s).match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\r\n  if (!m) return null;\r\n  const d = new Date(Date.UTC(+m[3], +m[1] - 1, +m[2]));\r\n  return Number.isNaN(d.getTime()) ? null : d;\r\n}\r\n\r\n/**\r\n * Normalize one Propertyware active-lease CSV row into an estimator lease.\r\n * Returns null if the row lacks the two things an estimate needs: a zip and a\r\n * rent. sqft/beds/baths/type/date are best-effort enrichment.\r\n */\r\nfunction normalizeLease(row) {\r\n  const zip = zip5(row['Unit Zip']);\r\n  const rent = parseMoney(row['Monthly Rent']);\r\n  if (!zip || rent == null) return null;\r\n  return {\r\n    zip,\r\n    city: String(row['Unit City'] || '').trim(),\r\n    type: String(row['Building Type'] || '').trim(),\r\n    beds: parseIntLoose(row['Bedrooms']),\r\n    baths: (() => {\r\n      const raw = String(row['Bathrooms'] == null ? '' : row['Bathrooms']).trim();\r\n      if (raw === '') return null; // empty means \"unknown\", not 0\r\n      const n = Number(raw);\r\n      return Number.isFinite(n) ? n : null;\r\n    })(),\r\n    sqft: parseIntLoose(row['Total Area']),\r\n    rent,\r\n    startDate: parseUsDate(row['Start Date']),\r\n    uid: unitId(row['Unit Address']),\r\n  };\r\n}\r\n\r\n/** Parse + normalize a full CSV export, dropping unusable rows. */\r\nfunction normalizeLeases(csvText) {\r\n  return parseCsv(csvText).map(normalizeLease).filter(Boolean);\r\n}\r\n\r\n// The deployed runtime (n8n) does not read the gitignored CSV; it loads a\r\n// pre-built segment index (build-index.mjs) whose `date` is an ISO string.\r\n// loadIndex rehydrates that JSON back into the lease shape estimateRent wants\r\n// (startDate as a Date). Accepts either the compact index records or already-\r\n// normalized leases, so callers can pass whichever they have.\r\nfunction loadIndex(records) {\r\n  if (!Array.isArray(records)) return [];\r\n  return records.map((r) => ({\r\n    zip: r.zip,\r\n    city: r.city || '',\r\n    type: r.type || '',\r\n    beds: r.beds == null ? null : r.beds,\r\n    baths: r.baths == null ? null : r.baths,\r\n    sqft: r.sqft || null,\r\n    rent: r.rent,\r\n    startDate: r.startDate instanceof Date\r\n      ? r.startDate\r\n      : (r.date ? new Date(r.date) : (r.startDate ? new Date(r.startDate) : null)),\r\n    uid: r.uid == null ? null : r.uid,\r\n  })).filter((l) => l.zip && l.rent != null);\r\n}\r\n\r\n// Collapse a lease history to one record per physical unit, keeping each unit's\r\n// MOST RECENT lease (current rent, no double-counting). Leases with no uid\r\n// (no address to key on) are each kept as distinct. This is the estimate basis\r\n// AND what stops the same home from appearing as three \"different\" comps.\r\nfunction dedupeByUnit(leases) {\r\n  const best = new Map();\r\n  const out = [];\r\n  for (const l of leases) {\r\n    if (!l.uid) { out.push(l); continue; }\r\n    const t = l.startDate ? l.startDate.getTime() : -Infinity;\r\n    const cur = best.get(l.uid);\r\n    if (!cur || t > cur.t) best.set(l.uid, { l, t });\r\n  }\r\n  for (const { l } of best.values()) out.push(l);\r\n  return out;\r\n}\r\n\r\n// --- Segment matching ---\r\n\r\n// Form beds are '2'|'3'|'4'|'5+'. '5+' means >= 5; others are exact.\r\nfunction bedsMatch(queryBeds, leaseBeds) {\r\n  if (queryBeds == null || queryBeds === '') return true; // beds is optional\r\n  if (leaseBeds == null) return false;\r\n  const q = String(queryBeds).trim();\r\n  if (q === '5+') return leaseBeds >= 5;\r\n  const n = Number(q);\r\n  return Number.isFinite(n) ? leaseBeds === n : true;\r\n}\r\n\r\nfunction withinSqft(querySqft, leaseSqft, tol) {\r\n  if (!querySqft || !leaseSqft) return false;\r\n  const lo = querySqft * (1 - tol);\r\n  const hi = querySqft * (1 + tol);\r\n  return leaseSqft >= lo && leaseSqft <= hi;\r\n}\r\n\r\n// Progressive widening: the first tier that yields >= MIN_COMPS wins; if none\r\n// do, the widest non-empty tier is used so we always answer when data exists.\r\n// Each tier is [label, predicate].\r\nfunction buildTiers(query) {\r\n  const zip = query.zip;\r\n  const zip3 = zip ? zip.slice(0, 3) : null;\r\n  const sqft = Number(query.sqft) || 0;\r\n  const beds = query.beds;\r\n  return [\r\n    ['zip+beds+sqft15', (l) => l.zip === zip && bedsMatch(beds, l.beds) && withinSqft(sqft, l.sqft, 0.15)],\r\n    ['zip+beds+sqft25', (l) => l.zip === zip && bedsMatch(beds, l.beds) && withinSqft(sqft, l.sqft, 0.25)],\r\n    ['zip+beds',        (l) => l.zip === zip && bedsMatch(beds, l.beds)],\r\n    ['zip+sqft25',      (l) => l.zip === zip && withinSqft(sqft, l.sqft, 0.25)],\r\n    ['zip',             (l) => l.zip === zip],\r\n    ['zip3+beds+sqft25',(l) => zip3 && l.zip.slice(0, 3) === zip3 && bedsMatch(beds, l.beds) && withinSqft(sqft, l.sqft, 0.25)],\r\n    ['zip3+beds',       (l) => zip3 && l.zip.slice(0, 3) === zip3 && bedsMatch(beds, l.beds)],\r\n    ['zip3',            (l) => zip3 && l.zip.slice(0, 3) === zip3],\r\n  ];\r\n}\r\n\r\nfunction selectMatches(query, leases, minComps) {\r\n  let widest = { label: 'none', matches: [] };\r\n  for (const [label, pred] of buildTiers(query)) {\r\n    const matches = leases.filter(pred);\r\n    if (matches.length > widest.matches.length) widest = { label, matches };\r\n    if (matches.length >= minComps) return { label, matches };\r\n  }\r\n  return widest; // best available, even if under minComps\r\n}\r\n\r\n// --- Range + comps ---\r\n\r\nfunction percentile(sortedAsc, p) {\r\n  if (!sortedAsc.length) return null;\r\n  if (sortedAsc.length === 1) return sortedAsc[0];\r\n  const idx = (sortedAsc.length - 1) * p;\r\n  const lo = Math.floor(idx);\r\n  const hi = Math.ceil(idx);\r\n  if (lo === hi) return sortedAsc[lo];\r\n  return sortedAsc[lo] + (sortedAsc[hi] - sortedAsc[lo]) * (idx - lo);\r\n}\r\n\r\nconst roundTo = (n, step) => Math.round(n / step) * step;\r\n\r\nfunction daysAgo(startDate, now) {\r\n  if (!startDate) return null;\r\n  const d = Math.round((now - startDate.getTime()) / 86400000);\r\n  return d < 0 ? 0 : d; // active leases can have near-future start dates\r\n}\r\n\r\n// Comps are chosen to read like Northpoint's \"comparable records\": same ZIP,\r\n// same bedroom count (never mix bed counts — that is what makes them credible),\r\n// a natural sqft spread, and FRESHEST FIRST (their \"LAST SEEN\" ordering). This\r\n// is deliberately decoupled from the estimate's tight sqft tier, which can be\r\n// too narrow to surface recent comps. Beds is kept matched even when it means\r\n// showing fewer comps; geography widens (zip -> zip3) only if the same-beds\r\n// pool is thin.\r\nfunction selectCompPool(query, pool) {\r\n  const zip = query.zip;\r\n  const zip3 = zip ? zip.slice(0, 3) : null;\r\n  const beds = query.beds;\r\n  const ladders = [\r\n    (l) => l.zip === zip && bedsMatch(beds, l.beds),\r\n    (l) => zip3 && l.zip.slice(0, 3) === zip3 && bedsMatch(beds, l.beds),\r\n  ];\r\n  let widest = [];\r\n  for (const pred of ladders) {\r\n    const m = pool.filter(pred);\r\n    if (m.length > widest.length) widest = m;\r\n    if (m.length >= 3) return m;\r\n  }\r\n  return widest;\r\n}\r\n\r\nfunction pickComps(query, pool, n, now) {\r\n  const sqft = Number(query.sqft) || 0;\r\n  return selectCompPool(query, pool)\r\n    .slice()\r\n    .sort((a, b) => {\r\n      const ta = a.startDate ? a.startDate.getTime() : 0;\r\n      const tb = b.startDate ? b.startDate.getTime() : 0;\r\n      if (tb !== ta) return tb - ta; // most recent lease first (Northpoint \"LAST SEEN\")\r\n      const da = sqft && a.sqft ? Math.abs(a.sqft - sqft) : Number.MAX_SAFE_INTEGER;\r\n      const db = sqft && b.sqft ? Math.abs(b.sqft - sqft) : Number.MAX_SAFE_INTEGER;\r\n      return da - db; // then closest in size\r\n    })\r\n    .slice(0, n)\r\n    .map((l) => ({\r\n      zip: l.zip,\r\n      beds: l.beds == null ? '' : String(l.beds),\r\n      sqft: l.sqft || '',\r\n      ago_days: daysAgo(l.startDate, now),\r\n      rent: l.rent,\r\n    }));\r\n}\r\n\r\n/**\r\n * Compute an own-data rent estimate for a segment query.\r\n *\r\n * @param {{zip:string, sqft?:number|string, beds?:string|number}} query\r\n * @param {Array} leases  normalized leases (from normalizeLeases)\r\n * @param {{minComps?:number, now?:number, roundStep?:number}} [opts]\r\n * @returns {{low:number, high:number, comps:Array, meta:object} | null}\r\n *          null when there is no usable data at all (caller falls back to the\r\n *          non-estimate \"received\" success shape — success.js detectShape).\r\n */\r\nfunction estimateRent(query, leases, opts = {}) {\r\n  const minComps = opts.minComps == null ? 5 : opts.minComps;\r\n  const now = opts.now == null ? Date.now() : opts.now;\r\n  const step = opts.roundStep == null ? 25 : opts.roundStep;\r\n\r\n  const zip = zip5(query && query.zip);\r\n  if (!zip || !Array.isArray(leases) || !leases.length) return null;\r\n\r\n  // One observation per home (most recent lease) unless the caller opts out.\r\n  const pool = opts.dedupe === false ? leases : dedupeByUnit(leases);\r\n\r\n  const { label, matches } = selectMatches({ ...query, zip }, pool, minComps);\r\n  if (!matches.length) return null;\r\n\r\n  const rents = matches.map((l) => l.rent).sort((a, b) => a - b);\r\n  const mid = percentile(rents, 0.5);\r\n  let low = percentile(rents, 0.25);\r\n  let high = percentile(rents, 0.75);\r\n\r\n  // Thin sample (< 4 comps) => the IQR is noise; widen to a modest ±5% band\r\n  // around the median so we never imply false precision.\r\n  if (rents.length < 4) {\r\n    low = mid * 0.95;\r\n    high = mid * 1.05;\r\n  }\r\n\r\n  low = roundTo(low, step);\r\n  high = roundTo(high, step);\r\n  if (high < low) { const t = low; low = high; high = t; }\r\n\r\n  // Never present a collapsed \"$X – $X\" point (strategy §5: show a RANGE, not a\r\n  // false-precision single number). When comps cluster tightly, enforce a\r\n  // minimum visible spread of ~5% of the median (>= 2 rounding steps), expanded\r\n  // symmetrically around the midpoint.\r\n  const minSpread = Math.max(2 * step, roundTo(mid * 0.05, step));\r\n  if (high - low < minSpread) {\r\n    low = roundTo(mid - minSpread / 2, step);\r\n    high = roundTo(mid + minSpread / 2, step);\r\n  }\r\n\r\n  return {\r\n    low,\r\n    high,\r\n    comps: pickComps({ ...query, zip }, pool, 3, now),\r\n    meta: { tier: label, sampleSize: matches.length, source: 'own-lease-history' },\r\n  };\r\n}\r\n\n\n// Layer 3 fallback for the rent estimator (PRD-03 / FEATURE2 strategy section 5):\n// when Westrom's own lease data (Layer 1, estimate.js) has no comps for a\n// segment, derive a range from RentCast's zip-level market statistics\n// (GET /v1/markets?zipCode=&dataType=Rental -> rentalData.dataByBedrooms[]).\n//\n// This module is PURE and dependency-injected, the same discipline as\n// estimate.js: the n8n glue (build-wf.mjs) does the HTTP call plus the 30-day\n// disk cache; here we only map a rentalData object to the {low, high, comps,\n// meta} shape success.js renders, and decide whether a cache entry is fresh.\n// That keeps it node --test friendly with no network.\n//\n// We use the MARKETS endpoint (aggregate zip stats), NOT the address AVM: the\n// form only collects zip + sqft + beds, and segment-level stats also sidestep\n// DISPLAYING RentCast's individual property comps. Their ToS governs comp\n// display; a single derived range is the cheaper path (strategy section 4.2).\n// So comps is always [] for this source and the widget shows the range only.\n\nconst RENTCAST_TTL_DAYS = 30;\n\nconst rcRoundTo = (n, step) => Math.round(n / step) * step;\n\n// Form beds are '2'|'3'|'4'|'5+'|''. Return the matching dataByBedrooms entry,\n// or null if beds is unknown or has no exact match (caller then falls back to\n// the overall rentalData aggregate).\nfunction pickBedroomStats(rentalData, beds) {\n  const arr = rentalData && Array.isArray(rentalData.dataByBedrooms) ? rentalData.dataByBedrooms : [];\n  if (!arr.length) return null;\n  const q = String(beds == null ? '' : beds).trim();\n  if (!q) return null;\n  if (q === '5+') {\n    const five = arr\n      .filter((e) => Number(e.bedrooms) >= 5)\n      .sort((a, b) => Number(a.bedrooms) - Number(b.bedrooms));\n    return five[0] || null;\n  }\n  const n = Number(q);\n  if (!Number.isFinite(n)) return null;\n  return arr.find((e) => Number(e.bedrooms) === n) || null;\n}\n\n// Build {low, high} from a stats object carrying median/average rent. Median\n// centered, +/-7.5% band (averageRent fallback), rounded to the step, with a\n// minimum visible spread so we never imply a false-precision single number\n// (mirrors estimate.js). Returns null if there is no usable central rent.\nfunction bandFromStats(stats, step) {\n  if (!stats) return null;\n  const mid = Number(stats.medianRent) || Number(stats.averageRent) || 0;\n  if (!(mid > 0)) return null;\n  let low = rcRoundTo(mid * 0.925, step);\n  let high = rcRoundTo(mid * 1.075, step);\n  const minSpread = Math.max(2 * step, rcRoundTo(mid * 0.05, step));\n  if (high - low < minSpread) {\n    low = rcRoundTo(mid - minSpread / 2, step);\n    high = rcRoundTo(mid + minSpread / 2, step);\n  }\n  if (high < low) { const t = low; low = high; high = t; }\n  return { low, high };\n}\n\n/**\n * Map a RentCast /markets rentalData object to the estimate shape.\n * @param {object} rentalData  the rentalData field from the markets response\n * @param {{beds?:string|number}} query\n * @param {{roundStep?:number}} [opts]\n * @returns {{low:number, high:number, comps:Array, meta:object} | null}\n *          null when there is no usable rental statistic (caller then shows the\n *          non-estimate \"received\" success shape).\n */\nfunction marketToEstimate(rentalData, query, opts = {}) {\n  if (!rentalData) return null;\n  const step = opts.roundStep == null ? 25 : opts.roundStep;\n  const byBed = pickBedroomStats(rentalData, query && query.beds);\n  const stats = byBed || rentalData; // fall back to the overall zip aggregate\n  const band = bandFromStats(stats, step);\n  if (!band) return null;\n  return {\n    low: band.low,\n    high: band.high,\n    comps: [],\n    meta: {\n      source: 'rentcast-market',\n      beds: byBed ? Number(byBed.bedrooms) : null,\n      listings: Number(stats.totalListings) || null,\n    },\n  };\n}\n\n// A cache entry { fetchedAt: ISO, rentalData } is fresh within ttlDays.\nfunction isCacheFresh(entry, nowMs, ttlDays = RENTCAST_TTL_DAYS) {\n  if (!entry || !entry.fetchedAt) return false;\n  const t = Date.parse(entry.fetchedAt);\n  if (!Number.isFinite(t)) return false;\n  return (nowMs - t) < ttlDays * 86400000;\n}\n\n// <<< END GENERATED\n\n// --- n8n glue: Layer 1 own-data first, RentCast markets (Layer 3) fallback ---\nconst fs = require('fs');\n// n8n exposes env as $env; there is no `process` in the Code-node sandbox.\nconst INDEX_PATH = ($env && $env.WGC_SEGMENT_INDEX) || '/home/node/.n8n/wgc-estimate/segment-index.json';\nconst RENTCAST_CACHE = ($env && $env.WGC_RENTCAST_CACHE) || '/home/node/.n8n/wgc-estimate/rentcast-cache.json';\nconst RENTCAST_KEY = ($env && $env.RENTCAST_API_KEY) || '';\nlet __records = [];\ntry { __records = (JSON.parse(fs.readFileSync(INDEX_PATH, 'utf8')).records) || []; } catch (e) { /* index missing -> Layer 1 empty */ }\nconst __leases = loadIndex(__records);\n// RentCast disk cache: { [zip]: { fetchedAt, rentalData } }, 30-day TTL, so\n// the free tier's 50 monthly calls serve many visitors per segment.\nlet __cache = {};\ntry { __cache = JSON.parse(fs.readFileSync(RENTCAST_CACHE, 'utf8')) || {}; } catch (e) { /* no cache yet */ }\nconst __now = Date.now();\nlet __cacheDirty = false;\nconst __self = this; // capture node context so helpers.httpRequest resolves\n\n// Async because a Layer-3 cache miss calls RentCast; n8n awaits the returned\n// promise. Cache hits and the no-key path never touch the network.\nreturn (async () => {\n  const __out = [];\n  for (const __it of $input.all()) {\n    const __j = __it.json || {};\n    const __p = __j.payload || __j; // WF-1 validate node nests the lead under .payload\n    let __estimate = estimateRent({ zip: __p.zip, sqft: __p.sqft, beds: __p.bedrooms }, __leases);\n    if (!__estimate && RENTCAST_KEY) {\n      const __zm = String(__p.zip == null ? '' : __p.zip).match(/\\d{5}/);\n      if (__zm) {\n        const __z = __zm[0];\n        let __entry = __cache[__z];\n        if (!isCacheFresh(__entry, __now)) {\n          try {\n            const __resp = await __self.helpers.httpRequest({\n              method: 'GET', url: 'https://api.rentcast.io/v1/markets',\n              qs: { zipCode: __z, dataType: 'Rental' },\n              headers: { 'X-Api-Key': RENTCAST_KEY, Accept: 'application/json' },\n              json: true, timeout: 6000,\n            });\n            __entry = { fetchedAt: new Date(__now).toISOString(), rentalData: (__resp && __resp.rentalData) || null };\n            __cache[__z] = __entry; __cacheDirty = true;\n          } catch (e) { __entry = null; /* API down or over quota -> received card */ }\n        }\n        if (__entry && __entry.rentalData) __estimate = marketToEstimate(__entry.rentalData, { beds: __p.bedrooms });\n      }\n    }\n    __out.push({ json: Object.assign({}, __j, __estimate ? { estimate: __estimate } : {}) });\n  }\n  if (__cacheDirty) { try { fs.writeFileSync(RENTCAST_CACHE, JSON.stringify(__cache)); } catch (e) { /* cache is best-effort */ } }\n  return __out;\n})();\n"
      },
      "id": "compute-estimate-node",
      "name": "Compute estimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        120
      ]
    }
  ],
  "connections": {
    "POST /lead": {
      "main": [
        [
          {
            "node": "Verify, validate, dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify, validate, dedupe": {
      "main": [
        [
          {
            "node": "Bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot?": {
      "main": [
        [
          {
            "node": "Respond success (silent reject)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute estimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch WF-2 (async)": {
      "main": [
        []
      ]
    },
    "Compute estimate": {
      "main": [
        [
          {
            "node": "Respond success (accepted)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dispatch WF-2 (async)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "SET-AFTER-IMPORT-WF3-ID"
  },
  "pinData": {}
}
