n8n/workflows/wf1-intake.json
{
  "name": "WF-1 Intake and Validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE-HOOK-ID/lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "POST /lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "wf1-lead-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Gatekeeper: honeypot -> token -> validation -> dedupe -> canonical payload.\n// Every rejection returns bot:true; the respond node sends the SAME success\n// body either way (no oracle, PRD NFR-Security / acceptance G-3).\n// Validation rules mirror widget/src/validate.js verbatim; the S4 validation\n// matrix runs the same fixtures against both sides.\n// Requires NODE_FUNCTION_ALLOW_BUILTIN=crypto,fs.\nconst crypto = require('crypto');\nconst fs = require('fs');\nconst METRICS = '/home/node/.n8n/wgc-metrics.json';\nconst body = $json.body || {};\nconst headers = $json.headers || {};\n\nfunction bump(field) {\n  let m = { days: {} };\n  try { m = JSON.parse(fs.readFileSync(METRICS, 'utf8')); } catch (e) { /* first run */ }\n  const day = new Date().toISOString().slice(0, 10);\n  m.days[day] = m.days[day] || { submissions: 0, bots: 0, delivered_api: 0, delivered_email: 0 };\n  m.days[day][field] += 1;\n  fs.writeFileSync(METRICS, JSON.stringify(m));\n}\n\nfunction reject(reason) {\n  bump('bots');\n  return [{ json: { bot: true, reason } }];\n}\n\n// 1. Honeypot: field named company must be empty.\nif (typeof body.company === 'string' && body.company.trim() !== '') return reject('honeypot');\n\n// 2. Render token: base64(ts.nonce.hmac), age window 2s-2h (server-side\n// minimum-fill-time; a direct-post bot cannot hold a valid aged token).\nlet tokenOk = false;\ntry {\n  const parts = Buffer.from(String(body.token || ''), 'base64').toString('utf8').split('.');\n  const ts = parts[0], nonce = parts[1], mac = parts[2] || '';\n  const expect = crypto.createHmac('sha256', $env.WGC_HMAC_SECRET).update(ts + '.' + nonce).digest('hex');\n  const macBuf = Buffer.from(mac, 'utf8');\n  const expBuf = Buffer.from(expect, 'utf8');\n  const age = Date.now() - Number(ts);\n  tokenOk = macBuf.length === expBuf.length && crypto.timingSafeEqual(macBuf, expBuf) && age >= 2000 && age <= 7200000;\n} catch (e) { tokenOk = false; }\nif (!tokenOk) return reject('token');\n\n// 3. Validation + normalization (mirror of widget rules).\nconst errors = [];\nfunction str(v) { return String(v == null ? '' : v).trim(); }\nconst first_name = str(body.first_name);\nif (first_name.length < 1 || first_name.length > 60) errors.push('first_name');\nconst last_name = str(body.last_name);\nif (last_name.length < 1 || last_name.length > 60) errors.push('last_name');\nconst email = str(body.email);\nif (email.length > 254 || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/.test(email)) errors.push('email');\nconst rawPhone = str(body.phone);\nconst digits = rawPhone.replace(/\\D/g, '');\nlet phone = null;\nif (rawPhone.startsWith('+') && !rawPhone.startsWith('+1')) phone = null;\nelse if (rawPhone.startsWith('+')) phone = digits.length === 11 ? '+' + digits : null;\nelse if (digits.length === 10) phone = '+1' + digits;\nelse if (digits.length === 11 && digits[0] === '1') phone = '+' + digits;\nif (!phone) errors.push('phone');\nconst property_address = str(body.property_address);\nif (property_address.length < 5 || property_address.length > 120) errors.push('property_address');\nlet beds = null;\nif (str(body.beds) !== '' && body.beds !== null) {\n  beds = Number(body.beds);\n  if (!Number.isInteger(beds) || beds < 0 || beds > 20) errors.push('beds');\n}\nlet baths = null;\nif (str(body.baths) !== '' && body.baths !== null) {\n  baths = Number(body.baths);\n  if (Number.isNaN(baths) || baths < 0 || baths > 20 || Math.round(baths * 2) !== baths * 2) errors.push('baths');\n}\nlet message = str(body.message);\nif (message.length > 1000) errors.push('message');\nif (message === '') message = null;\nconst submission_id = str(body.submission_id);\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{3,4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(submission_id)) errors.push('submission_id');\nif (errors.length) return reject('validation:' + errors.join('|'));\n\n// 4. Dedupe: 24h ring buffer in workflow static data (ADR-3: UX, not security).\nconst sd = $getWorkflowStaticData('global');\nconst now = Date.now();\nsd.seen = (sd.seen || []).filter(function (e) { return now - e.t < 86400000; });\nif (sd.seen.some(function (e) { return e.id === submission_id; })) return reject('duplicate');\nsd.seen.push({ id: submission_id, t: now });\n\n// 5. Canonical payload v1.0 + server-side consent evidence (FR-3).\nconst ip = str(headers['x-forwarded-for']).split(',')[0].trim();\nconst utmIn = body.utm || {};\nconst payload = {\n  schema_version: '1.0',\n  submission_id: submission_id,\n  first_name: first_name,\n  last_name: last_name,\n  email: email,\n  phone: phone,\n  property_address: property_address,\n  beds: beds,\n  baths: baths,\n  message: message,\n  source: str(body.source) || 'Website - wgcassetguide',\n  page_url: str(body.page_url).slice(0, 500),\n  utm: {\n    source: str(utmIn.source).slice(0, 100),\n    medium: str(utmIn.medium).slice(0, 100),\n    campaign: str(utmIn.campaign).slice(0, 100)\n  },\n  consent: {\n    tcpa: body.consent && body.consent.tcpa === true,\n    timestamp: body.consent && str(body.consent.timestamp) ? str(body.consent.timestamp) : new Date().toISOString(),\n    text_version: (body.consent && str(body.consent.text_version)) || 'WGC-TCPA-2026-07-v1',\n    ip: ip,\n    user_agent: str(headers['user-agent']).slice(0, 400)\n  }\n};\nbump('submissions');\nreturn [{ json: { bot: false, payload: payload } }];"
      },
      "id": "wf1-gate",
      "name": "Verify, validate, dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf1-if",
      "name": "Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "SET-AFTER-IMPORT-WF2-ID",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "wf1-exec",
      "name": "Dispatch WF-2 (async)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [660, 120],
      "notes": "Async so retries in WF-2 (up to ~40s) never exceed the widget's 10s timeout gate. Delivery guarantee is WF-2's three paths + WF-3 alerting."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "wf1-respond-bot",
      "name": "Respond success (silent reject)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, -120],
      "notes": "Identical body to the accept path: no oracle for attackers (G-3)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "wf1-respond-ok",
      "name": "Respond success (accepted)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 120]
    }
  ],
  "connections": {
    "POST /lead": { "main": [[{ "node": "Verify, validate, dedupe", "type": "main", "index": 0 }]] },
    "Verify, validate, dedupe": { "main": [[{ "node": "Bot?", "type": "main", "index": 0 }]] },
    "Bot?": {
      "main": [
        [{ "node": "Respond success (silent reject)", "type": "main", "index": 0 }],
        [{ "node": "Dispatch WF-2 (async)", "type": "main", "index": 0 }]
      ]
    },
    "Dispatch WF-2 (async)": { "main": [[{ "node": "Respond success (accepted)", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "SET-AFTER-IMPORT-WF3-ID"
  },
  "pinData": {}
}
