n8n/workflows/wf2-delivery.json
{
  "name": "WF-2 Delivery Router",
  "nodes": [
    {
      "parameters": {},
      "id": "wf2-trigger",
      "name": "From WF-1",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Primary path: LeadSimple REST via the mapping adapter (ADR-4). All CRM\n// specifics live in leadsimple-map.json. Retries 3x with 2s/8s/30s backoff,\n// 10s timeout per attempt. Requires NODE_FUNCTION_ALLOW_BUILTIN=fs.\nconst fs = require('fs');\nconst MAP_PATH = '/home/node/.n8n/wgc/leadsimple-map.json';\nconst payload = $json.payload;\nif (!payload || !payload.submission_id) throw new Error('WF-2 called without a canonical payload');\n\nlet map = { enabled: false };\ntry { map = JSON.parse(fs.readFileSync(MAP_PATH, 'utf8')); } catch (e) { /* adapter absent -> fallback */ }\n\n// LeadSimple parse email (exact v2 template, #14): plain text, one field per\n// line, capitalized labels. The parser keys on these labels.\nfunction nv(v) { return v === null || v === undefined ? '' : String(v); }\nconst emailText = [\n  'Name: ' + nv(payload.name),\n  'Email: ' + nv(payload.email),\n  'Phone: ' + nv(payload.phone),\n  'Zip: ' + nv(payload.zip),\n  'Square Footage: ' + nv(payload.sqft),\n  'Bedrooms: ' + nv(payload.bedrooms),\n  'Ebook Requested: ' + (payload.ebook_opt_in ? 'yes' : 'no')\n].join('\\n');\n\nlet deliveredApi = false;\nlet apiError = '';\nif (map.enabled === true && map.url) {\n  const crmBody = {};\n  for (const [ours, theirs] of Object.entries(map.field_map || {})) {\n    const path = ours.split('.');\n    let val = payload;\n    for (const seg of path) val = val == null ? null : val[seg];\n    crmBody[theirs] = val;\n  }\n  Object.assign(crmBody, map.static_fields || {});\n  const headers = { 'Content-Type': 'application/json' };\n  if (map.auth_header) headers[map.auth_header] = $env.LEADSIMPLE_API_KEY;\n  const backoff = [2000, 8000, 30000];\n  for (let attempt = 0; attempt < 3 && !deliveredApi; attempt++) {\n    try {\n      await this.helpers.httpRequest({ method: 'POST', url: map.url, headers, body: crmBody, json: true, timeout: 10000 });\n      deliveredApi = true;\n    } catch (e) {\n      apiError = String(e.message || e);\n      if (attempt < 2) await new Promise(function (r) { setTimeout(r, backoff[attempt]); });\n    }\n  }\n}\n\nreturn [{ json: {\n  delivered_api: deliveredApi,\n  api_error: apiError,\n  email_text: emailText,\n  submission_id: payload.submission_id,\n  lead_name: nv(payload.name)\n} }];"
      },
      "id": "wf2-api",
      "name": "CRM API attempt (mapped)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.delivered_api }}",
              "value2": false
            }
          ]
        }
      },
      "id": "wf2-if",
      "name": "API failed or disabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: $env.MAIL_FROM, name: \"Westrom Group\" }, to: [{ email: $env.PARSE_ADDRESS }], subject: \"New Lead - Free Rental Analysis\", textContent: $('CRM API attempt (mapped)').first().json.email_text }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-parse-mail",
      "name": "Fallback: email-parse path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -120
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "notes": "LeadSimple per-Source parse address via Brevo HTTP API (Railway blocks SMTP). Plain text, one field per line (G-2)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: $env.MAIL_FROM, name: \"Westrom Group\" }, to: $env.NOTIFY_EMAILS.split(\",\").map(e => ({ email: e.trim() })), subject: \"New rental analysis lead: \" + $('CRM API attempt (mapped)').first().json.lead_name, textContent: \"A new free rental analysis request just arrived.\\n\\n\" + $('CRM API attempt (mapped)').first().json.email_text + \"\\n\\nDelivery: \" + ($('CRM API attempt (mapped)').first().json.delivered_api ? \"CRM API (primary)\" : \"email-parse fallback\") }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-notify",
      "name": "Notify Jon + Ashley + Youssef",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "FR-6: within 60s. Tertiary delivery path (full lead body). Fails loud -> WF-3 error alert."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Record which path delivered (feeds WF-3 weekly export, instrument I1).\nconst fs = require('fs');\nconst METRICS = '/home/node/.n8n/wgc-metrics.json';\nlet m = { days: {} };\ntry { m = JSON.parse(fs.readFileSync(METRICS, 'utf8')); } catch (e) { /* first run */ }\nconst day = new Date().toISOString().slice(0, 10);\nm.days[day] = m.days[day] || { submissions: 0, bots: 0, delivered_api: 0, delivered_email: 0 };\nm.days[day][$('CRM API attempt (mapped)').first().json.delivered_api ? 'delivered_api' : 'delivered_email'] += 1;\nfs.writeFileSync(METRICS, JSON.stringify(m));\nreturn [{ json: { delivered: true, submission_id: $('CRM API attempt (mapped)').first().json.submission_id } }];"
      },
      "id": "wf2-mark",
      "name": "Mark delivered",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.ebook_opt_in }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf2-ebook-if",
      "name": "Ebook requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){ const p = $json.payload; const nm = (p.name || \"\").trim(); const greeting = nm ? (\"Hi \" + nm + \",\") : \"Hi,\"; const guideUrl = \"https://wgcassetguide.com/how-to-hire-the-best-property-manager.pdf\"; const html = \"<p>\" + greeting + \"</p><p>Thank you for requesting your free rental analysis from Westrom Group.</p><p>Your guide, <strong>How to Hire the Best Property Manager for You</strong>, is ready.</p><p><a href='\" + guideUrl + \"'>Download the guide</a></p><p>If you have any questions, just reply to this email.</p><p>— The Westrom Group Team</p>\"; const text = greeting + \"\\n\\nThank you for requesting your free rental analysis from Westrom Group.\\n\\nYour guide: How to Hire the Best Property Manager for You\\nDownload the guide: \" + guideUrl + \"\\n\\nIf you have any questions, just reply to this email.\\n\\n— The Westrom Group Team\"; return JSON.stringify({ sender: { email: $env.MAIL_FROM, name: \"Westrom Group\" }, to: [{ email: p.email }], subject: \"Your free guide: How to Hire the Best Property Manager\", htmlContent: html, textContent: text }); })() }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-ebook-send",
      "name": "Send guide email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        220
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "notes": "Fulfills the widget success-card promise (ebook_opt_in=true) via Brevo HTTP API (Railway blocks SMTP). Guide URL hardcoded (public asset, not a secret) to avoid a two-instance env var change. Best-effort: failure does not block the CRM/notify chain."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.payload.email }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf2-has-contact",
      "name": "Has contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        110,
        0
      ]
    }
  ],
  "connections": {
    "From WF-1": {
      "main": [
        [
          {
            "node": "Has contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ebook requested?": {
      "main": [
        [
          {
            "node": "Send guide email (Brevo)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CRM API attempt (mapped)": {
      "main": [
        [
          {
            "node": "API failed or disabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API failed or disabled?": {
      "main": [
        [
          {
            "node": "Fallback: email-parse path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Jon + Ashley + Youssef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: email-parse path": {
      "main": [
        [
          {
            "node": "Notify Jon + Ashley + Youssef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Jon + Ashley + Youssef": {
      "main": [
        [
          {
            "node": "Mark delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contact?": {
      "main": [
        [
          {
            "node": "CRM API attempt (mapped)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ebook requested?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "SET-AFTER-IMPORT-WF3-ID"
  },
  "pinData": {}
}
