n8n/workflows/wf2-delivery.json
{
  "name": "WF-2 Delivery Router",
  "nodes": [
    {
      "parameters": {},
      "id": "wf2-trigger",
      "name": "From WF-1",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Primary path: LeadSimple REST via the mapping adapter (ADR-4). All CRM\n// specifics live in leadsimple-map.json. Retries 3x with 2s/8s/30s backoff,\n// 10s timeout per attempt. Requires NODE_FUNCTION_ALLOW_BUILTIN=fs.\nconst fs = require('fs');\nconst MAP_PATH = '/home/node/.n8n/wgc/leadsimple-map.json';\nconst payload = $json.payload;\nif (!payload || !payload.submission_id) throw new Error('WF-2 called without a canonical payload');\n\nlet map = { enabled: false };\ntry { map = JSON.parse(fs.readFileSync(MAP_PATH, 'utf8')); } catch (e) { /* adapter absent -> fallback */ }\n\n// LeadSimple parse email (exact v2 template, #14): plain text, one field per\n// line, capitalized labels. The parser keys on these labels.\nfunction nv(v) { return v === null || v === undefined ? '' : String(v); }\nconst emailText = [\n  'Name: ' + nv(payload.name),\n  'Email: ' + nv(payload.email),\n  'Phone: ' + nv(payload.phone),\n  'Zip: ' + nv(payload.zip),\n  'Square Footage: ' + nv(payload.sqft),\n  'Bedrooms: ' + nv(payload.bedrooms),\n  'Ebook Requested: ' + (payload.ebook_opt_in ? 'yes' : 'no')\n].join('\\n');\n\nlet deliveredApi = false;\nlet apiError = '';\nif (map.enabled === true && map.url) {\n  const crmBody = {};\n  for (const [ours, theirs] of Object.entries(map.field_map || {})) {\n    const path = ours.split('.');\n    let val = payload;\n    for (const seg of path) val = val == null ? null : val[seg];\n    crmBody[theirs] = val;\n  }\n  Object.assign(crmBody, map.static_fields || {});\n  const headers = { 'Content-Type': 'application/json' };\n  if (map.auth_header) headers[map.auth_header] = $env.LEADSIMPLE_API_KEY;\n  const backoff = [2000, 8000, 30000];\n  for (let attempt = 0; attempt < 3 && !deliveredApi; attempt++) {\n    try {\n      await this.helpers.httpRequest({ method: 'POST', url: map.url, headers, body: crmBody, json: true, timeout: 10000 });\n      deliveredApi = true;\n    } catch (e) {\n      apiError = String(e.message || e);\n      if (attempt < 2) await new Promise(function (r) { setTimeout(r, backoff[attempt]); });\n    }\n  }\n}\n\nreturn [{ json: {\n  delivered_api: deliveredApi,\n  api_error: apiError,\n  email_text: emailText,\n  submission_id: payload.submission_id,\n  lead_name: nv(payload.name)\n} }];"
      },
      "id": "wf2-api",
      "name": "CRM API attempt (mapped)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.delivered_api }}",
              "value2": false
            }
          ]
        }
      },
      "id": "wf2-if",
      "name": "API failed or disabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: $env.MAIL_FROM, name: \"Westrom Group\" }, to: [{ email: $env.PARSE_ADDRESS }], subject: \"New Lead - Free Rental Analysis\", textContent: $('CRM API attempt (mapped)').first().json.email_text }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-parse-mail",
      "name": "Fallback: email-parse path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -120
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "notes": "LeadSimple per-Source parse address via Brevo HTTP API (Railway blocks SMTP). Plain text, one field per line (G-2)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: $env.MAIL_FROM, name: \"Westrom Group\" }, to: $env.NOTIFY_EMAILS.split(\",\").map(e => ({ email: e.trim() })), subject: \"New rental analysis lead: \" + $('CRM API attempt (mapped)').first().json.lead_name, textContent: \"A new free rental analysis request just arrived.\\n\\n\" + $('CRM API attempt (mapped)').first().json.email_text + \"\\n\\nDelivery: \" + ($('CRM API attempt (mapped)').first().json.delivered_api ? \"CRM API (primary)\" : \"email-parse fallback\") }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-notify",
      "name": "Notify Jon + Ashley + Youssef",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "FR-6: within 60s. Tertiary delivery path (full lead body). Fails loud -> WF-3 error alert."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Record which path delivered (feeds WF-3 weekly export, instrument I1).\nconst fs = require('fs');\nconst METRICS = '/home/node/.n8n/wgc-metrics.json';\nlet m = { days: {} };\ntry { m = JSON.parse(fs.readFileSync(METRICS, 'utf8')); } catch (e) { /* first run */ }\nconst day = new Date().toISOString().slice(0, 10);\nm.days[day] = m.days[day] || { submissions: 0, bots: 0, delivered_api: 0, delivered_email: 0 };\nm.days[day][$('CRM API attempt (mapped)').first().json.delivered_api ? 'delivered_api' : 'delivered_email'] += 1;\nfs.writeFileSync(METRICS, JSON.stringify(m));\nreturn [{ json: { delivered: true, submission_id: $('CRM API attempt (mapped)').first().json.submission_id } }];"
      },
      "id": "wf2-mark",
      "name": "Mark delivered",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.ebook_opt_in }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf2-ebook-if",
      "name": "Ebook requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){ const p = $json.payload; const html = \"<!doctype html><html lang=\\\"en\\\"><head><meta charset=\\\"utf-8\\\"><meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\"><meta name=\\\"x-apple-disable-message-reformatting\\\"><title>Your free guide from Westrom Group</title></head><body style=\\\"margin:0;padding:0;background:#e9e7e3;\\\"><div style=\\\"display:none;max-height:0;overflow:hidden;opacity:0;color:#e9e7e3;font-size:1px;line-height:1px;\\\">Your free guide, How to Hire the Best Property Manager, is ready to download inside.</div><table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" bgcolor=\\\"#e9e7e3\\\" style=\\\"background:#e9e7e3;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:30px 12px;\\\"><table role=\\\"presentation\\\" width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\"style=\\\"width:100%;max-width:600px;background:#141217;border-radius:14px;overflow:hidden;\\\"><!-- red accent bar --><tr><td bgcolor=\\\"#e0402d\\\" style=\\\"height:6px;line-height:6px;font-size:0;\\\">&nbsp;</td></tr><!-- header: white logo on dark --><tr><td bgcolor=\\\"#141217\\\" align=\\\"center\\\" style=\\\"padding:34px 24px 26px;\\\"><img src=\\\"https://wgcassetguide.com/email/westrom-logo-white.png\\\"width=\\\"216\\\" alt=\\\"Westrom Group\\\" style=\\\"display:block;width:216px;height:auto;border:0;\\\"></td></tr><!-- intro --><tr><td bgcolor=\\\"#141217\\\" class=\\\"wg-pad\\\" align=\\\"center\\\" style=\\\"padding:8px 48px 0;\\\"><div style=\\\"font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;letter-spacing:3px;text-transform:uppercase;color:#e0402d;\\\">Free Guide</div><h1 style=\\\"margin:14px 0 10px;font-family:Arial,Helvetica,sans-serif;font-size:27px;line-height:1.25;color:#ffffff;font-weight:800;\\\">Your guide is ready.</h1><p style=\\\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.6;color:#a7a3ad;\\\">Thanks for using the Westrom Group rent estimator. Here is your free copy, no strings attached.</p></td></tr><!-- book cover --><tr><td bgcolor=\\\"#141217\\\" align=\\\"center\\\" class=\\\"wg-cover\\\" style=\\\"padding:28px 24px 8px;\\\"><img src=\\\"https://wgcassetguide.com/email/book-cover.png\\\"width=\\\"244\\\" alt=\\\"How to Hire the Best Property Manager, Specifically for You\\\"style=\\\"display:block;width:244px;height:auto;border:1px solid #2c2933;border-radius:6px;\\\"></td></tr><!-- proven popup copy --><tr><td bgcolor=\\\"#141217\\\" class=\\\"wg-pad\\\" align=\\\"center\\\" style=\\\"padding:20px 52px 4px;\\\"><p style=\\\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#c8c5cd;\\\">Hiring a property manager is a trust decision, not a price decision. Many companies hide extra fees and contract penalties in the fine print. This free playbook gives you the exact questions to ask so you find a partner who actually protects your peace of mind.</p></td></tr><!-- CTA --><tr><td bgcolor=\\\"#141217\\\" align=\\\"center\\\" style=\\\"padding:26px 24px 6px;\\\"><table role=\\\"presentation\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"margin:0 auto;\\\"><tr><td align=\\\"center\\\" bgcolor=\\\"#e0402d\\\" style=\\\"border-radius:999px;\\\"><a href=\\\"https://wgcassetguide.com/how-to-hire-the-best-property-manager.pdf\\\"style=\\\"display:inline-block;padding:16px 40px;font-family:Arial,Helvetica,sans-serif;font-size:15px;font-weight:800;letter-spacing:1px;text-transform:uppercase;color:#ffffff;text-decoration:none;border-radius:999px;\\\">Download Free Guide</a></td></tr></table></td></tr><tr><td bgcolor=\\\"#141217\\\" align=\\\"center\\\" style=\\\"padding:14px 40px 0;\\\"><p style=\\\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:1.5;color:#77737e;\\\">Button not working? Copy this link:<br><a href=\\\"https://wgcassetguide.com/how-to-hire-the-best-property-manager.pdf\\\" style=\\\"color:#f0623f;word-break:break-all;\\\">wgcassetguide.com/how-to-hire-the-best-property-manager.pdf</a></p></td></tr><!-- divider + helper --><tr><td bgcolor=\\\"#141217\\\" class=\\\"wg-pad\\\" style=\\\"padding:28px 52px 34px;\\\"><table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\"><tr><td style=\\\"border-top:1px solid #2a2731;font-size:0;line-height:0;\\\">&nbsp;</td></tr></table><p style=\\\"margin:22px 0 0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.6;color:#a7a3ad;text-align:center;\\\">Wondering what your property could rent for? Just reply to this email and a Westrom Group specialist will help.</p></td></tr><!-- footer --><tr><td bgcolor=\\\"#0c0a0f\\\" class=\\\"wg-pad\\\" align=\\\"center\\\" style=\\\"padding:30px 48px;\\\"><img src=\\\"https://wgcassetguide.com/email/westrom-logo-white.png\\\"width=\\\"160\\\" alt=\\\"Westrom Group\\\" style=\\\"display:block;width:160px;height:auto;border:0;margin-bottom:16px;opacity:0.92;\\\"><p style=\\\"margin:0 0 12px;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:1.8;color:#98949f;\\\">1297 Avondale Haslet Road, Fort Worth, TX 76052<br><a href=\\\"tel:+18174451108\\\" style=\\\"color:#d7d4db;text-decoration:none;\\\">(817) 445-1108</a>&nbsp;&middot;&nbsp;<a href=\\\"mailto:info@westromgroup.com\\\" style=\\\"color:#d7d4db;text-decoration:none;\\\">info@westromgroup.com</a>&nbsp;&middot;&nbsp;<a href=\\\"https://westromgroup.com\\\" style=\\\"color:#d7d4db;text-decoration:none;\\\">westromgroup.com</a></p><p style=\\\"margin:0 0 14px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;letter-spacing:1px;\\\"><a href=\\\"https://www.facebook.com/westromgroup\\\" style=\\\"color:#e0402d;text-decoration:none;\\\">Facebook</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href=\\\"https://x.com/WestromGroup\\\" style=\\\"color:#e0402d;text-decoration:none;\\\">X</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href=\\\"http://www.yelp.com/biz/westrom-group-company-richland-hills\\\" style=\\\"color:#e0402d;text-decoration:none;\\\">Yelp</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href=\\\"https://www.zillow.com/profile/WestromGroup\\\" style=\\\"color:#e0402d;text-decoration:none;\\\">Zillow</a></p><p style=\\\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:1.6;color:#615d68;\\\">You are receiving this because you requested this guide from Westrom Group.<br>Westrom Property Management &copy; 2026</p></td></tr></table></td></tr></table></body></html>\"; const text = \"Your guide is ready.\\n\\nThanks for using the Westrom Group rent estimator. Here is your free copy, no strings attached.\\n\\nHiring a property manager is a trust decision, not a price decision. This free playbook gives you the exact questions to ask so you find a partner who protects your peace of mind.\\n\\nDownload your guide: https://wgcassetguide.com/how-to-hire-the-best-property-manager.pdf\\n\\nWondering what your property could rent for? Just reply to this email and a Westrom Group specialist will help.\\n\\nWestrom Group\\n1297 Avondale Haslet Road, Fort Worth, TX 76052\\n(817) 445-1108 | info@westromgroup.com | westromgroup.com\"; return JSON.stringify({ sender: { email: $env.MAIL_FROM, name: 'Westrom Group' }, to: [{ email: p.email }], subject: 'Your free guide: How to Hire the Best Property Manager', htmlContent: html, textContent: text }); })() }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf2-ebook-send",
      "name": "Send guide email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        220
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "notes": "Fulfills the widget success-card promise (ebook_opt_in=true) via Brevo HTTP API (Railway blocks SMTP). Guide URL hardcoded (public asset, not a secret) to avoid a two-instance env var change. Best-effort: failure does not block the CRM/notify chain."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.payload.email }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf2-has-contact",
      "name": "Has contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        110,
        0
      ]
    }
  ],
  "connections": {
    "From WF-1": {
      "main": [
        [
          {
            "node": "Has contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ebook requested?": {
      "main": [
        [
          {
            "node": "Send guide email (Brevo)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CRM API attempt (mapped)": {
      "main": [
        [
          {
            "node": "API failed or disabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API failed or disabled?": {
      "main": [
        [
          {
            "node": "Fallback: email-parse path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Jon + Ashley + Youssef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: email-parse path": {
      "main": [
        [
          {
            "node": "Notify Jon + Ashley + Youssef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Jon + Ashley + Youssef": {
      "main": [
        [
          {
            "node": "Mark delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contact?": {
      "main": [
        [
          {
            "node": "CRM API attempt (mapped)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ebook requested?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "SET-AFTER-IMPORT-WF3-ID"
  },
  "pinData": {}
}
